<h1>記事編集画面</h1>
<div class="containers">
  <div class="sidebar-left"></div>
    <div class="main-container">
      <div class="box">
        <%= form_with url: doctors_notices_path, local: true do |f| %>
          <table>
            <tr>
              <td><%= f.label :title, "タイトル" %></td>
            </tr>
            <tr>
              <td><%= f.text_field :title %></td>
            </tr>
            <tr>
              <td><%= f.label :body, "テキスト" %></td>
            </tr>
            <tr>
              <td><%= f.text_area :body %></td>
            </tr>
            <tr>
              <td><%= f.label :category, "カテゴリ" %></td>
            </tr>
            <tr>
              <td><%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "--選択してください--"} %></td>
            </tr>
          </table><br />
          <%= f.submit "投稿" %>
        <% end %>
      </div>
    </div>
    <div class="sidebar-right"></div>
  </div>
</div>