<div class="flame-top"></div>
<h1>記事投稿 確認画面</h1>
<div class="containers">
  <div class="sidebar-left"></div>
    <div class="main-container">
      <div class="box">
          <table>
            <tr>
              <th>タイトル</th>
            </tr>
            <tr>
              <td><%= @notice.title %></td>
            </tr>
            <tr>
              <th>テキスト</th>
            </tr>
            <tr>
              <td><%= @notice.body %></td>
            </tr>
            <tr>
              <th>カテゴリ</th>
            </tr>
            <tr>
              <td><%= @category.name %></td>
            </tr>
          </table><br />
          <%= link_to "編集", edit_doctors_notice_path(@notice.id) %>
          <%= link_to "削除", doctors_notice_path(@notice.id), method: :delete %>
          <%= link_to "記事一覧", doctors_notices_path %>
      </div>
    </div>
    <div class="sidebar-right"></div>
  </div>
</div>