<div class="flame-top"></div>
<h1>記事投稿画面</h1>
<div class="containers">
  <div class="sidebar-left"></div>
  <div class="main-container">
    <div class="box">
      <%= form_with url: doctors_categories_path, local: true do |f| %>
        <table>
          <tr>
            <td><%= f.label :name, "カテゴリ名" %></td>
          </tr>
          <tr>
            <td><%= f.text_field :name %></td>
          </tr>
        </table><br />
        <%= f.submit "投稿" %>
      <% end %>
    </div>
    <div class="box">
      <% @categories.each do |category| %>
        <%= category.name %>
      <% end %>
    </div>
  </div>
  <div class="sidebar-right"></div>
</div>

