<!DOCTYPE html>
<html>
  <head>
    <title>可愛動物病院</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>
  <body>
    <header>
      <div class="headlign">
        <%= link_to root_path, "data-turbolinks": false do %><div class="logo"></div><% end %>
        <div class="header-item">
          <p>
            TEL: 0000-00-0000<br />
            診療時間　9:00~12:00 / 16:00~19:00<br />
            休診日　水曜日<br />
            （土日、祝日も通常診療）
          </p>
        </div>
      </div>
    </header>
    <nav class="menubar">
      <ul>
        <li><a href="http://ebc50th.com/t/shinsatsuananai/">診療方針</a></li>
        <li><a href="http://ebc50th.com/t/staff/">スタッフ紹介</a></li>
        <li><%= link_to"トリミング",trimming_path %></li>
        <li><a href="http://ebc50th.com/t/hotel/">ホテル</a></li>
        <li><a href="http://ebc50th.com/t/shisetsu/">施設紹介</a></li>
        <li><%= link_to"予約", root_path(anchor: "inpuiry-heading"), "data-turbolinks": false %></li>
      </ul>
    </nav>
    <main>
        <%= yield %>
    </main>
    <footer>
      <div class="footlign">
        <p class="copyright">Copyright © </p>
      </div>
    </footer>
  </body>
</html>
